# Logs
logs/
*.log

# Cache
.eslintcache
.idea
.npm
.vscode
.yarnclean

# Directories
_book/
coverage/
cjs/
dts/
esm/
lib/
mjs/
node_modules/

# Custom
*.min.js
*.map

# Configs
.eslintignore
/.eslintrc.js
.flowconfig
webpack.config.js
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
